<div id="groupsSchedule">
    <div class="panel"><a class="btn btn-primary" href="#/groupsList" role="button"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back to groups list</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="bg-primary">Group name: <b><span ng-bind="groupId" class="group-name"></span></b>
                <br> Direction: <b><span ng-bind="groupData[0].direction"></span></b> </p>
        </div>
        <div class="col-md-12">
            <p class="bg-info"><b>Description:</b> <span ng-bind="groupData[0].description"></span> </p>
        </div>
    </div>
    <h2 ng-bind="date"></h2>

    <table class="table table-striped table-hover">
        <thead>
            <th>Time</th>
            <th>Subject</th>
        </thead>
        <tbody>
            <tr ng-repeat="lesson in foundDay[0].lessons">
                <td ng-bind="lesson.time"></td>
                <td ng-bind="lesson.name">Databases</td>
            </tr>
        </tbody>
    </table>
</div>